


<div id="sidenav">
    <p class="mt-5">تصفية الوظائـف</p>
    <hr>
  
    <form action="~/Home/BrowseJobs" method="get">
  
        <div class="form-group">
            <select class="form-control" name="Type">
                <option value="">نوع الوظيفة</option>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Remote">Remote</option>
            </select>

            <select class="form-control mt-3" name="years">
                <option value=""> سنوات الخبرة</option>
                <option value="0 - 2">0 - 2</option>
                <option value="3 - 7">3 - 7</option>
                <option value="7 - 10">7 - 10</option>
                <option value="more than 10">more than 10</option>
            </select>
        </div>

        <input type="submit" value="تصفية" class="btn btn-outline-success" />
    </form>

</div>
